<uku-component>
    <template>
        <form></form>
    </template>
    <script>
        (function () {
            return function (uku) {
                this.dynamicId = this._alias;
                Object.defineProperty(this, 'questionItem', {
                    set: function (value) {
                        if (value) {
                            this.question = value;
                            var container = this._dom;
                            var formItem;
                            if (this.question.type === 'select') {
                                formItem = document.createElement("selector");                   
                            }else if(this.question.type === 'table-select'){
                                formItem = document.createElement("table-select");
                            }
                            else if(this.question.type === 'table-checkbox'){
                                formItem = document.createElement("table-checkbox");
                            }else if(this.question.type === 'table-radio'){
                                formItem = document.createElement("table-radio");
                            }else if(this.question.type === 'list-checkbox'){
                                formItem = document.createElement("list-checkbox");
                            }
                            else if(this.question.type === 'list-radio'){
                                formItem = document.createElement("list-radio");
                            }else{
                                formItem = document.createElement("input-item");
                            }       
                            container.appendChild(formItem);
                            formItem.setAttribute('uku-form-item', this._alias+'.question');
                            //uku.handleElement(formItem);          
                        }
                    }
                });
            };
        })()
    </script>
</uku-component>