<uku-component>
        <template>
            <div class="form-group">
                <span>
                    <label>{{cc.item.index}}</label>
                    <label>{{cc.item.question}}</label>
                </span>
                <table class="table table-hover" style="width:50%">
                    <thead>
                        <tr>
                            <th uku-repeat="header in cc.headers">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr uku-repeat="row in cc.rows">
                            <td uku-repeat="column in row">
                                <!-- <question-detail uku-form-item="column"></question-detail> -->
                                <div class="parent.cc.aa">{{cc.aa}}</div>
                                <input-item-simple uku-form-item="column" uku-parent-object="parent.cc.aa"></input-item-simple>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
        <script>
            (function () {
                return function (uku) {
                    this.selectedOption = '';
                    this.headers = [];
                    this.rows = [];
                    this.aa = "hahah";
                    Object.defineProperty(this, 'formItem', {
                        set: function (value) {
                            if (value) {
                                this.item = value;
                                var table = this.item.table;
                                this.headers = table.headers;
                                this.rows = table.rows;
                            }
                        }
                    });
                };
            })()
        </script>
    </uku-component>