<uku-component>
        <template>
            <div class="form-group">
                <span uku-render="cc.labelMode">
                    <label>{{cc.item.question}}</label>
                </span>
                <input uku-render="!(cc.labelMode)" class="form-control" uku-type="cc.item.realType" uku-name="cc.item.name" uku-value="cc.item.value" uku-selected="cc.item.checked" style="width:30%">
            </div>
        </template>
        <script>
            (function () {
                return function (uku) {
                    this.labelMode = false;
                    Object.defineProperty(this, 'formItem', {
                        set: function (value) {
                            if (value) {
                                if(value.type === "label"){
                                    this.labelMode = true;
                                }
                                else if (value.type.search('input-') > -1) {
                                    var realType = value.type.split('-')[1];
                                    value.realType = realType;
                                }
                                this.item = value;
                            }
                        }
                    });

                    Object.defineProperty(this, 'parentObject', {
                        set: function (value) {
                            if (value) {
                                this.parentObject = value;
                                console.log('a');
                            }
                        }
                    });
                };
            })()
        </script>
    </uku-component>