<uku-component>
        <template>
            <div>
                <span uku-render="cc.labelMode">
                    <label>{{cc.item.question}}</label>
                </span>
                <!-- <input uku-render="!(cc.labelMode)" uku-type="cc.item.realType" uku-value="cc.item.value"> -->
                <input uku-render="!(cc.labelMode)" type="checkbox" uku-value="cc.item.value">
            </div>
        </template>
        <script>
            (function () {
                return function (uku) {
                    this.labelMode = false;
                    Object.defineProperty(this, 'formItem', {
                        set: function (value) {
                            if (value) {
                                if(value.type === "label"){
                                    this.labelMode = true;
                                }
                                this.item = value;
                            }
                        }
                    });
                };
            })()
        </script>
    </uku-component>